{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Inventory</li>
<li><a href="{{ path('category') }}">Categories</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('sitemap', 'page-header-icon') }} New Category</h1>
</div>

{{ form_start(form, {'action': path('category_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate':'novalidate'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-5">
			{{ form_row(form.name) }}
		</div>
		
		<div class="col-md-5">
		</div>
	</div>
	
	<br>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="form-actions">
				{{ form_widget(form.save) }}
				<a href="{{ path('category') }}" class="btn btn-default btn-outline">Back</a>
			</div>
		</div>
	</div>
{{ form_end(form) }}
{% endblock content %}