{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Core Average Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="col-md-10">
				<h1>{{ FAIcon('folder', 'page-header-icon') }} Core Average Report</h1>
				<p>Shows average of core products only.</p>
			</div>
			
			{% if params %}
				{% set exportParams = { 'ci_inventorybundle_coreaveragereportfilter[dateFrom]' : params.dateFrom|date('m/d/Y'),
										'ci_inventorybundle_coreaveragereportfilter[dateTo]' : params.dateTo|date('m/d/Y') } %}
										
				{% if params.rsm is defined and params.rsm %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_coreaveragereportfilter[rsm]' : params.rsm.id }) %}
				{% endif %}
				
				{% if params.cdm is defined and params.cdm %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_coreaveragereportfilter[cdm]' : params.cdm.id }) %}
				{% endif %}
				
				{% if params.tl is defined and params.tl %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_coreaveragereportfilter[tl]' : params.tl.id }) %}
				{% endif %}
				
				{% if params.diser is defined and params.diser %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_coreaveragereportfilter[diser]' : params.diser.id }) %}
				{% endif %}
				
				{% if params.region %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_coreaveragereportfilter[region]' : params.region.id }) %}
				{% endif %}
                                
                                {% if params.productClassification %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_coreaveragereportfilter[productClassification]' : params.productClassification }) %}
				{% endif %}
                                
                              {#  {% if params.chainClassification %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_coreaveragereportfilter[chainClassification]' : params.chainClassification }) %}
				{% endif %}#}
                                
                                {% if params.storeClassification %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_coreaveragereportfilter[storeClassification]' : params.storeClassification }) %}
				{% endif %}
				
				<div class="col-md-2">
					<a class="btn btn-default btn-labeled btn-sm pull-right" href="{{ path('get_core_average_report_export_xls', exportParams) }}">{{ FAIcon('file-excel-o', 'btn-label') }} Export to XLS</a> 
				</div>
			{% endif %}
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('get_core_average_report'), 'method': 'GET', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{% if search_form.rsm is defined %}
						{{ form_row(search_form.rsm) }}
					{% endif %}
					{% if search_form.cdm is defined %}
						{{ form_row(search_form.cdm) }}
					{% endif %}
					{% if search_form.tl is defined %}
						{{ form_row(search_form.tl) }}
					{% endif %}
					{% if search_form.diser is defined %}
						{{ form_row(search_form.diser) }}
					{% endif %}
                                         {{ form_row(search_form.productClassification) }}
                                         
					
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
                                    {#	{{ form_row(search_form.store) }}#}
                                          {{ form_row(search_form.region) }}
                                    
{#                                        {{ form_row(search_form.chainClassification) }}#}
                                        {{ form_row(search_form.storeClassification) }}
                                       
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		<br/>
		
		{% if params and results.dataCount > 0 %}
			<div class="table-responsive">
				<table id="core-average" class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-2">Region</th>
							{% for name in results.products %}
								<th class="text-center">{{ name }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
					{% for regionId, regionName in results.regions %}
						<tr>
							<td>{{ regionName }}</td>
							
							{% for productId, productName in results.products %}
								<td class="text-right">{{ results.data[regionId][productId]|default(0) }}%</td>
							{% endfor %}
						</tr>
					{% endfor %}
					</tbody>
					<tfoot>
						<tr class="text-bold">
							<td>Total Result</td>
							{% for productId, productName in results.products %}
								<td class="text-right">{{ results.totals[productId].percentage|default(0) }}%</td>
							{% endfor %}
						</tr>
					</tfoot>
				</table>
			</div>
		{% elseif params %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
$(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true, 
		todayHighlight: true,
	});
});

$( document ).ready( function() {
	 $( "#core-average" ).DataTable({
		"scrollX" : true,
		"pageLength" : 30,
		"searching" : false,
		"lengthChange" : false,
		"pagingType" : "full_numbers"
	});
});
</script>
{% endblock %}