{% macro changeStatus(path, entity) %}
    <li class="divider"></li>
	{% if entity.active %}
    	<li><a href="{{ path(path, { 'id': entity.id, 'status': constant('CI\\InventoryBundle\\Entity\\Device::STATUS_INACTIVE') }) }}">{{ FAListIcon('ban') }} Set Disabled</a></li>
    {% else %}
    	<li><a href="{{ path(path, { 'id': entity.id, 'status': constant('CI\\InventoryBundle\\Entity\\Device::STATUS_ACTIVE') }) }}">{{ FAListIcon('check') }} Set Enabled</a></li>
    {% endif %}
{% endmacro %}

{% macro renderEnabledTag(entity) %}
	{% if entity.active %}{{ label_success('Enabled') }}{% else %}{{ label_danger('Disabled') }}{% endif %}
{% endmacro %}