{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Device:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li><a href="{{ path('device') }}">Devices</a></li>
<li class="active">{{ entity.name }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<div class="btn-group pull-right btn-group-sm">
		<a href="{{ path('device_edit', { 'id': entity.id }) }}" class="btn">{{ FAListIcon('pencil') }} Edit</a>
		<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="{{ path('device_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
			<li><a href="{{ path('device_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>
			{{ macro.changeStatus('device_confirm_change_status', entity) }}
			{{ macros.delete('device_confirm_delete', entity) }}
		</ul>
	</div>
	<small>Device ID #{{ entity.id }}</small><br/>
	<h1>{{ FAIcon('mobile', 'page-header-icon') }} {{ entity.name }}</h1>{{ macro.renderEnabledTag(entity) }}
</div>

<div class="row profile">
	<div class="col-md-6">
		<table class="table table-no-border">
			<tbody>
				<tr>
					<th class="col-xs-3">Name</th>
					<td>{{ entity.name }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ entity.description|nl2br }}</td>
				</tr>
				<tr>
					<th>Device ID</th>
					<td>{{ entity.deviceId }}</td>
				</tr>
				<tr>
					<th>Assigned User</th>
					<td>{{ entity.personInCharge.roleLabel }}</td>
				</tr>
				<tr>
					<th>Branches</th>
					<td>
						{% if entity.personInCharge.stores|length > 0 %}
							<ul>
								{% for store in entity.personInCharge.stores %}
									<li>{{ store.name }}</li>
								{% endfor %}
							</ul>
						{% else %}
							<em>No stores</em>
						{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
{% endblock content %}