{# custom pagination using bootstrap #}

{% if pageCount > 1 %}
<div class="pull-right">
	<ul class="pagination">
    {% if first is defined and current != first %}
        <li class="first">
            <a data-page="{{ first }}" href="{{ path(route, query|merge({(pageParameterName): first})) }}">&laquo;</a>
        </li>
    {% endif %}

    {% if previous is defined %}
        <li class="previous">
            <a data-page="{{ previous }}" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">Prev</a>
        </li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li>
                <a data-page="{{ page }}" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="active"><a class="disabled" href="#">{{ page }}</a></li>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <li class="next">
            <a data-page="{{ next }}" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Next</a>
        </li>
    {% endif %}

    {% if last is defined and current != last %}
        <li class="last">
            <a data-page="{{ last }}" href="{{ path(route, query|merge({(pageParameterName): last})) }}">&raquo;</a>
        </li>
    {% endif %}
    </ul>
</div>
{% endif %}