{% extends '::base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/pages.min.css') }}">
{% endblock %}
{% block bodyClass %}page-signin{% endblock %}

{% block background %}
<div id="page-signin-bg">
	<!-- Background overlay -->
	<div class="overlay"></div>
	<!-- Replace this with your bg image -->
 	<img src="" alt="">
</div>
{% endblock %}

{% block fos_login %}
<!-- Container -->
<div class="signin-container">

	<!-- Left side -->
	<div class="signin-info">
		<a href="{{ path("welcome") }}" class="logo text-center" style="display: block">
			<span>ISCI</span>
		</a> <!-- / .logo -->
		<div class="slogan text-center">
		    <small>Intelligent Skin Care Inc</small>
		</div> <!-- / .slogan -->
	</div>
	<!-- / Left side -->

	<!-- Right side -->
	<div class="signin-form">
		{% if error %}
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">×</button>
			{{ error.messageKey|trans(error.messageData, 'security') }}
	    </div>
	    {% endif %}

		<!-- Form -->
		<form action="{{ path("fos_user_security_check") }}" id="signin-form_id" method="post">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			<div class="signin-text">
				<span>Sign In to your account</span>
			</div> <!-- / .signin-text -->

			<div class="form-group w-icon">
				<input type="text" name="_username" id="username" class="form-control input-lg" value="{{ last_username }}" placeholder="Username or email" />
				<span class="fa fa-user signin-form-icon"></span>
			</div> <!-- / Username -->

			<div class="form-group w-icon">
				<input type="password" name="_password" id="password" class="form-control input-lg" placeholder="Password">
				<span class="fa fa-lock signin-form-icon"></span>
			</div> <!-- / Password -->

			<div class="form-actions">
				<button type="submit" class="signin-btn bg-primary">SIGN IN</button>
				<a href="#" class="forgot-password" id="forgot-password-link">Forgot your password?</a>
			</div> <!-- / .form-actions -->
		</form>
		<!-- / Form -->

		<!-- Password reset form -->
		<div class="password-reset-form" id="password-reset-form">
			<div class="header">
				<div class="signin-text">
					<span>Password reset</span>
					<div class="close">&times;</div>
				</div> <!-- / .signin-text -->
			</div> <!-- / .header -->
			
			<!-- Form -->
			<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" id="password-reset-form_id" class="fos_user_resetting_request">
				
	    		{% if invalid_username is defined %}
		            <p class="text-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
		        {% endif %}
		        
				<div class="form-group w-icon">
					<input type="text" name="username" id="username" class="form-control input-lg" placeholder="Enter your username or email address">
					<span class="fa fa-envelope signin-form-icon"></span>
				</div> <!-- / Email -->

				<div class="form-actions">
					<input type="submit" value="SEND PASSWORD RESET LINK" class="signin-btn bg-primary">
				</div> <!-- / .form-actions -->
			</form>
			<!-- / Form -->
		</div>
		<!-- / Password reset form -->
	</div>
	<!-- Right side -->
</div>
<!-- / Container -->
{% endblock %}

{% block front_page_footer %}
<div class="footer">
    <p>&copy; Copyright 2015 ISCI. All rights reserved.</p>
</div>
{% endblock %}

{% block layout_scripts %}
<script type="text/javascript">
	var init = [];
	// Resize BG
	init.push(function () {
		var $ph  = $('#page-signin-bg'),
		    $img = $ph.find('> img');

		$(window).on('resize', function () {
			$img.attr('style', '');
			if ($img.height() < $ph.height()) {
				$img.css({
					height: '100%',
					width: 'auto'
				});
			}
		});
	});

	// Show/Hide password reset form on click
	init.push(function () {
		{% if invalid_username is defined %}
			$('#password-reset-form').show();
		{% endif %}
		$('#forgot-password-link').click(function () {
			$('#password-reset-form').fadeIn(400);
			return false;
		});
		$('#password-reset-form .close').click(function () {
			$('#password-reset-form').fadeOut(400);
			return false;
		});
	});

	// Setup Sign In form validation
	init.push(function () {
		$("#signin-form_id").validate({ focusInvalid: true, errorPlacement: function () {} });
		
		// Validate username
		$("#username").rules("add", {
			required: true,
			minlength: 3
		});

		// Validate password
		$("#password").rules("add", {
			required: true,
			minlength: 3
		});
	});

	// Setup Password Reset form validation
	init.push(function () {
		$("#password-reset-form_id").validate({ focusInvalid: true, errorPlacement: function () {} });
		
		// Validate email
		$("#password-reset-form #username").rules("add", {
			required: true
		});
	});

	window.PixelAdmin.start(init);
</script>
{% endblock %}