<div class="page-header">
    <h1>{{ FAIcon('lock') }} Change Password</h1>
</div>

{% if form_errors(form) is not empty %}
	{{ form_errors(form) }}
{% endif %}

{{ form_start(form, {'action': path('fos_user_change_password'), 'method': 'POST', 'attr': {'class': 'form-horizontal fos_user_change_password' } }) }}
	<div class="row">
		{{ bootstrap_set_style('horizontal') }}
		<div class="col-sm-12">	 
			 <div class="row">
                <div class="col-sm-6">
					{{ form_row(form.current_password) }}
					{{ form_row(form.plainPassword) }}
					{{ form_widget(form._token) }}
                </div>
	    	</div>
			
			<div class="row">
			    <div class="col-sm-12">
			        <div class="form-actions">
			        	<button type="submit" class="btn btn-primary submit-button" data-loading-text="Updating..." value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
		               	<a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">Back</a>
		        	</div>
			    </div>
			</div>
	    </div>	
	</div>
{{ form_end(form) }}

