{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li><a href="{{ path('store') }}">Branches</a></li>
<li><a href="{{ path('store_show', { 'id' : entity.id }) }}">{{ entity.name }}</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<small>Branch ID #{{ entity.id }}</small><br/>
	<h1>{{ FAIcon('home', 'page-header-icon') }} {{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

{% if form_errors(edit_form) is not empty %}
	{{ form_errors(edit_form) }}<br/>
{% endif %}

{{ form_start(edit_form, {'action': path('store_update', { 'id' : entity.id }), 'method': 'PUT', 'attr' : { 'class' : 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-6">
			{{ form_row(edit_form.name) }}
                        {{ form_row(edit_form.adm) }}
			{{ form_row(edit_form.rsm) }}
			{{ form_row(edit_form.cdm) }}
			{{ form_row(edit_form.tl) }}
			{{ form_row(edit_form.diser) }}
			{{ form_row(edit_form.address) }}
			{{ form_row(edit_form.city) }}
			{{ form_row(edit_form.contactDetails) }}
			{{ form_row(edit_form.distributor) }}
			{{ form_row(edit_form.chain) }}
			{{ form_row(edit_form.region) }}
			{{ form_row(edit_form.storeType) }}
                        {{ form_row(edit_form.isOsaTracked) }}
			
			<div class="form-group form-actions">
				<div class="col-lg-offset-4 col-lg-10">
					{{ form_widget(edit_form.save) }}
					<a href="{{ path('store_show', { 'id': entity.id }) }}" class="btn btn-outline">Back</a>
				</div>
			</div>
		</div>
	</div>
{{ form_end(edit_form) }}
{% endblock content %}