{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Branches</li>
<li class="active">List</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('home', 'page-header-icon') }} Branches</h1>
			<div class="pull-right">
				<a class="btn btn-success btn-labeled btn-sm" href="{{ path('store_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('store') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
			</div>
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('store'), 'method': 'GET', 'attr': {'class': 'form-horizontal'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.name) }}
					{{ form_row(search_form.region) }}
					{{ form_row(search_form.chain) }}
                                        {{ form_row(search_form.storeClassification) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
					{{ form_row(search_form.rsm) }}
					{{ form_row(search_form.cdm) }}
					{{ form_row(search_form.tl) }}
					{{ form_row(search_form.diser) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Actions</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'c.name', 'Chain') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 's.name', 'Name') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'rsm.firstName', 'RSM') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'cdm.firstName', 'CDM') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'tl.firstName', 'TL') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'diser.firstName', 'Diser') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'r.name', 'Region') }}</th>
							<th class="col-md-1">Top Account</th>
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}                                                                                                   
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('store_show', {'id':entity.id}) }}">{{ FAListIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('store_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{{ macros.changeStatus('store_confirm_change_status', entity) }}
										{{ macros.delete('store_confirm_delete', entity) }}
									</ul>
								</div>
							</td>
							<td>{{ entity.chain.name }}</td>
							<td><a href="{{ path('store_show', { 'id' : entity.id }) }}">{{ entity.name }}</a>{{ entity|renderTags }}</td>
							<td>{{ entity.rsm.name }}</td>
							<td>{% if entity.cdm %}{{ entity.cdm.name }}{% else %}<em>None</em>{% endif %}</td>
							<td>{% if entity.tl %}{{ entity.tl.name }}{% else %}<em>None</em>{% endif %}</td>
							<td>{{ entity.diser.name }}</td>
							<td>{{ entity.region.name }}</td>
							<td>{% if entity.isOsaTracked %}Yes{% else %}No{% endif %}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}