{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li><a href="{{ path('store') }}">Branches</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('home', 'page-header-icon') }} New Branch</h1>
</div>

{% if form_errors(form) is not empty %}
	{{ form_errors(form) }}<br/>
{% endif %}

{{ form_start(form, {'action': path('store_create'), 'method': 'POST', 'attr' : { 'class' : 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-6">
			{{ form_row(form.name) }}
			{{ form_row(form.adm) }}
			{{ form_row(form.rsm) }}
			{{ form_row(form.cdm) }}
			{{ form_row(form.tl) }}
			{{ form_row(form.diser) }}
			{{ form_row(form.address) }}
			{{ form_row(form.city) }}
			{{ form_row(form.contactDetails) }}
			{{ form_row(form.distributor) }}
			{{ form_row(form.chain) }}
			{{ form_row(form.region) }}
			{{ form_row(form.storeType) }}
                        {{ form_row(form.isOsaTracked) }}
			
			<div class="form-group form-actions">
				<div class="col-lg-offset-4 col-lg-10">
					{{ form_widget(form.save) }}
					<a href="{{ path('store') }}" class="btn btn-outline">Back</a>
				</div>
			</div>
		</div>
	</div>
{{ form_end(form) }}
{% endblock content %}