{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block form_widget_simple %}
{% spaceless %}
    {% set style = style|default(bootstrap_get_style()) %}
    {% set col_size = col_size|default(bootstrap_get_col_size()) %}

    {% if simple_col is not defined and bootstrap_get_simple_col() %}
        {% set simple_col = bootstrap_get_simple_col() %}
    {% endif %}
    {% if attr.simple_col is defined and attr.simple_col is not empty %}
        {% set simple_col = attr.simple_col %}
    {% endif  %}
    {% if attr.col_size is defined and attr.col_size is not empty %}
        {% set col_size = attr.col_size %}
    {% endif %}
    {% if attr.style is defined and attr.style is not empty %}
        {% set style = attr.style %}
    {% endif %}
    
    {% if attr.include_errors is defined and attr.include_errors is not empty %}
        {% set include_errors = attr.include_errors %}
    {% endif  %}

    {% if simple_col is defined and simple_col %}
        <div class="col-{{ col_size }}-{{ simple_col }}{% if include_errors is defined and not form.vars.valid %} has-error{% endif %}">
    {% endif %}

    {% set type = type|default('text') %}
    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim }) %}

    {% if style == 'inline' and (attr.placeholder is not defined or attr.placeholder is empty) %}
        {% if label is empty %}
            {% set attr = attr|merge({ 'placeholder': name|humanize }) %}
        {% else %}
            {% set attr = attr|merge({ 'placeholder': label}) %}
        {% endif %}
    {% endif %}

    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
    
	{% if include_errors is defined %}
    	{{ form_errors(form) }}
    {% endif %}    

    {% if simple_col is defined %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block checkbox_row %}
    {% spaceless %}
        {% set style = style|default(bootstrap_get_style()) %}
        {% set col_size = col_size|default(bootstrap_get_col_size()) %}

        {% if attr.label_col is defined and attr.label_col is not empty %}
            {% set label_col = attr.label_col %}
        {% endif %}
        {% if attr.widget_col is defined and attr.widget_col is not empty %}
            {% set widget_col = attr.widget_col %}
        {% endif %}
        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}
        {% if attr.style is defined and attr.style is not empty %}
            {% set style = attr.style %}
        {% endif %}

        {% set class = '' %}
        {% if align_with_widget is defined or attr.align_with_widget is defined %}
            {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}
            {% set label_col = label_col|default(bootstrap_get_label_col()) %}
            {% set class = 'col-' ~ col_size ~ '-' ~ widget_col ~ ' col-' ~ col_size ~ '-offset-' ~ label_col %}
            <div class="form-group {% if form.vars.errors|length > 0 %} has-error{% endif %}">
            <div class="{{ class }}">
        {% elseif no_form_group is not defined or no_form_group == false %}
            <div class="form-group{% if form.vars.errors|length > 0 %} has-error{% endif %}">
        {% endif %}

        {%set checkboxdata %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if inline is defined and inline %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' checkbox-inline')|trim}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ block('checkbox_widget') }}
            <span class="lbl">
            	{{ label|trans({}, translation_domain)|raw -}}
            </span>
            </label>
        {% else %}
            {{ block('checkbox_widget') }}
        {% endif %}
        {{ form_errors(form) }}
        {% endset %}

        {% if inline is defined and inline %}
            {{ checkboxdata|raw }}
        {% else%}
            <div class="checkbox">{{ checkboxdata|raw }}</div>
        {% endif %}

        {{ block('form_help') }}

        {% if align_with_widget is defined or attr.align_with_widget is defined %}
            </div>
            </div>
        {% elseif no_form_group is not defined or no_form_group == false %}
            </div>
        {% endif %}

        {% if style == 'inline' %}&nbsp;{% endif %}
    {% endspaceless %}
{% endblock checkbox_row %}

{% block radio_row %}
    {% spaceless %}
        {% set class = '' %}

        {% set col_size = col_size|default(bootstrap_get_col_size()) %}

        {% if attr.label_col is defined and attr.label_col is not empty %}
            {% set label_col = attr.label_col %}
        {% endif %}
        {% if attr.widget_col is defined and attr.widget_col is not empty %}
            {% set widget_col = attr.widget_col %}
        {% endif %}
        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}

        {% if align_with_widget is defined or attr.align_with_widget is defined %}
            {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}
            {% set label_col = label_col|default(bootstrap_get_label_col()) %}
            {% set class = ' col-'~ col_size ~ '-' ~ widget_col ~ ' col-' ~ col_size ~ '-offset-' ~ label_col %}
            <div class="form-group {% if form.vars.errors|length > 0 %} has-error{% endif %}">
            <div class="{{ class }}">
        {% elseif no_form_group is not defined or no_form_group == false %}
            <div class="form-group{% if form.vars.errors|length > 0 %} has-error{% endif %}">
        {% endif %}

        {%set radiodata %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if inline is defined and inline %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' radio-inline')|trim}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ block('radio_widget') }}
            <span class="lbl">
            	{{ label|trans({}, translation_domain)|raw -}}
            </span>
            </label>
        {% else %}
            {{ block('radio_widget') }}
        {% endif %}
        {{ form_errors(form) }}
        {% endset %}

        {% if inline is defined and inline %}
            {{ radiodata|raw }}
        {% else%}
            <div class="radio">{{ radiodata|raw }}</div>
        {% endif %}

        {{ block('form_help') }}

        {% if align_with_widget is defined or attr.align_with_widget is defined %}
            </div>
            </div>
        {% elseif no_form_group is not defined or no_form_group == false %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock radio_row %}

{% block button_row %}
{% spaceless %}
    {% set style = style|default(bootstrap_get_style()) %}
    {% set col_size = col_size|default(bootstrap_get_col_size()) %}

    {% if attr.label_col is defined and attr.label_col is not empty %}
        {% set label_col = attr.label_col %}
    {% endif %}
    {% if attr.widget_col is defined and attr.widget_col is not empty %}
        {% set widget_col = attr.widget_col %}
    {% endif %}
    {% if attr.col_size is defined and attr.col_size is not empty %}
        {% set col_size = attr.col_size %}
    {% endif %}
    {% if attr.style is defined and attr.style is not empty %}
        {% set style = attr.style %}
    {% endif %}

    {% set label_col = label_col|default(bootstrap_get_label_col()) %}
    {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}

    {% if style == 'horizontal' %}
    <div class="form-group">
        <div class="col-{{ col_size }}-offset-{{ label_col }} col-{{ col_size }}-{{ widget_col }}">
    {% endif %}

    {{ form_widget(form) }}

    {% if style == 'horizontal' %}
        </div>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock button_row %}

{% block checkbox_widget %}
	{% spaceless %}
		{% if attr is defined %}{% set attr = attr|merge({'class' : ('px ' ~ attr.class|default(''))|trim}) %}{% endif %}
		<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
	{% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
	{% spaceless %}
		{% if attr is defined %}{% set attr = attr|merge({'class' : ('px ' ~ attr.class|default(''))|trim}) %}{% endif %}
		<input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
	{% endspaceless %}
{% endblock radio_widget %}

{% block form_input_group %}
    {% spaceless %}
        {% if attr.input_group is defined and attr.input_group is not empty %}
            {% set input_group = attr.input_group %}
        {% endif %}
        {% set input_group = input_group|default({}) %}
        {% if input_group is not empty %}
            {% set ig_size_class = '' %}
            {% if input_group.size is defined and input_group.size == 'large' %}
                {% set ig_size_class = ' input-group-lg' %}
            {% endif  %}
            {% if input_group.size is defined and input_group.size == 'small' %}
                {% set ig_size_class = ' input-group-sm' %}
            {% endif  %}
            <div class="input-group{{ ig_size_class }}{% if attr.datepicker is defined %} date{% endif %}">
                {% if input_group.prepend is defined and input_group.prepend is not empty %}
                    <span class="input-group-addon">{{ input_group.prepend|raw|parse_icons }}</span>
                {% endif %}
                {% if input_group.button_prepend is defined and input_group.button_prepend is not empty %}
                    <span class="input-group-btn">{{ form_widget(input_group_button_prepend) }}</span>
                {% endif %}
                {{ form_widget(form) }}
                {% if input_group.button_append is defined and input_group.button_append is not empty %}
                    <span class="input-group-btn">{{ form_widget(input_group_button_append) }}</span>
                {% endif %}
                {% if input_group.append is defined and input_group.append is not empty %}
                    <span class="input-group-addon">{% if attr.datepicker is defined %}<span class="fa fa-{{ input_group.append }}"></span>{% else %}{{ input_group.append|raw|parse_icons }}{% endif %}</span>
                {% endif %}
            </div>
        {% else %}
            {{ form_widget(form) }}
        {% endif %}
    {% endspaceless %}
{% endblock form_input_group %}

{% block form_errors %}
{% spaceless %}
	{% set global_errors = global_errors|default(false) %}
	{% set style = style|default(bootstrap_get_style()) %}
	
	{% if attr.style is defined and attr.style is not empty %}
		{% set style = attr.style %}
	{% endif %}
	
	{% if errors|length > 0 %}
		{% if global_errors %}
			<div class="alert alert-danger">
		{% endif %}
		<ul{% if not global_errors %} class="help-block"{% endif %}>
		{% for error in errors %}
			<li class="text-danger">{{ error.message }}</li>
		{% endfor %}
		</ul>
		{% if global_errors == true %}
			</div>
		{% endif %}
	{% endif %}
{% endspaceless %}
{% endblock form_errors %}

{# Labels #}

{% block form_label %}
    {% spaceless %}
        {% set col_size = col_size|default(bootstrap_get_col_size()) %}

        {% if attr.label_col is defined and attr.label_col is not empty %}
            {% set label_col = attr.label_col %}
        {% endif %}
        {% if attr.widget_col is defined and attr.widget_col is not empty %}
            {% set widget_col = attr.widget_col %}
        {% endif %}
        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}

        {% if label is not sameas(false) %}
            {% set style = style|default(bootstrap_get_style()) %}
            {% set label_col = label_col|default(bootstrap_get_label_col()) %}

            {% if attr.style is defined and attr.style is not empty %}
                {% set style = attr.style %}
            {% endif %}

            {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' control-label')|trim }) %}
            {% if style == 'horizontal' %}
                {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' col-' ~ col_size ~ '-' ~ label_col)|trim }) %}
            {% elseif style == 'inline' %}
                {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' sr-only')|trim }) %}
            {% endif %}

            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain)|raw }}
            	{% if required == false %}
					<small class="optional text-muted">(optional)</small>
				{% endif %}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}

    {% if style is defined %}
        {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-' ~ style)|trim }) %}
        {{ bootstrap_set_style(style) }}
    {% endif %}

    {% if col_size is defined %}
        {{ bootstrap_set_col_size(col_size) }}
    {% elseif bootstrap_get_col_size() %}
        {{ bootstrap_set_col_size('lg') }}
    {% endif %}

    {% if widget_col is defined %}
        {{ bootstrap_set_widget_col(widget_col) }}
    {% elseif bootstrap_get_widget_col() %}
        {{ bootstrap_set_widget_col(8) }}
    {% endif %}

    {% if label_col is defined %}
        {{ bootstrap_set_label_col(label_col) }}
    {% elseif bootstrap_get_label_col() %}
        {{ bootstrap_set_label_col(4) }}
    {% endif %}

    {% if simple_col is defined %}
        {{ bootstrap_set_simple_col(simple_col) }}
    {% elseif bootstrap_get_simple_col() %}
        {{ bootstrap_set_simple_col(false) }}
    {% endif %}

    {% if attr.role is not defined or attr.role is empty %}
        {% set attr = attr|merge({ 'role': 'form' }) %}
    {% endif %}

    <form  name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}

{% block form_end %}
{% spaceless %}
    {% if not render_rest is defined or render_rest %}
        {{ form_rest(form) }}
    {% endif %}
    </form>
    {% if bootstrap_get_style() %}
        {{ bootstrap_set_style('') }}
    {% endif %}
{% endspaceless %}
{% endblock form_end %}