{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Settings</li>
<li class="active">Chains</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('chain', 'page-header-icon') }} Chains</h1>
			<div class="pull-right">
				<a class="btn btn-success btn-labeled btn-sm" href="{{ path('chain_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('chain') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
			</div>
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('chain'), 'method': 'GET', 'attr': {'class': 'form-horizontal'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.name) }}
					{{ form_row(search_form.parent) }}
                                        {{ form_row(search_form.isOsaTracked) }}
					{{ form_row(search_form.search) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-2">Actions</th>
							<th class="col-md-3">{{ utils.sortableTableHeader(pagination, 'c.name', 'Chain') }}</th>
							<th class="col-md-3">{{ utils.sortableTableHeader(pagination, 'parent.name', 'Parent') }}</th>
							<th class="col-md-4">Sub Chains</th>
							<th class="col-md-4">OSA Tracked</th>
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('chain_show', {'id':entity.id}) }}">{{ FAListIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('chain_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{{ macros.changeStatus('chain_confirm_change_status', entity) }}
										{{ macros.delete('chain_confirm_delete', entity) }}
									</ul>
								</div>
							</td>
							<td><a href="{{ path('chain_show', { 'id' : entity.id }) }}">{{ entity.name }}</a>{{ entity|renderTags }}</td>
							<td>{% if entity.parent %}<a href="{{ path('chain_show', { 'id' : entity.parent.id }) }}">{{ entity.parent.name }}</a>{% endif %}</td>
							<td>
								<ul>
								{% for chain in entity.children %}
									<li>{{ chain.name }}</li>
								{% endfor %}
								</ul>
							</td>
                                                        <td>{% if entity.isOsaTracked %}Yes{% else %}No{% endif %}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}