{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('chain') }}">Chains</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('chain', 'page-header-icon') }} New Chain</h1>
</div>

{% if form_errors(form) is not empty %}
	{{ form_errors(form) }}<br/>
{% endif %}

{{ form_start(form, {'action': path('chain_create'), 'method': 'POST', 'attr' : { 'class' : 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-5">
			{{ form_row(form.isParent) }}
			
			<div class="parent-container {% if form.vars.value.isParent %}hide{% endif %}">
				{{ form_row(form.parent) }}
			</div>
			{{ form_row(form.name) }}
			{{ form_row(form.isKeyAccount) }}
			{{ form_row(form.isOsaTracked) }}
			
			<div class="form-group form-actions">
				<div class="col-lg-offset-4 col-lg-10">
					{{ form_widget(form.save) }}
					<a href="{{ path('chain') }}" class="btn btn-outline">Back</a>
				</div>
			</div>
		</div>
	</div>
{{ form_end(form) }}
{% endblock content %}

{% block javascripts %}
<script src="{{ asset('assets/js/chain.js') }}"></script>
{% endblock %}