{{ form_start(form, {'action': path(prefix ~ '_create'), 'method': 'POST', 'attr': { 'class' : 'form-horizontal', 'id' : prefix ~ '-form', 'role' : 'form' } }) }}
    	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        	<h4 class="modal-title">New {{ prefix|title }}</h4>
      	</div>
      	
      	<div class="modal-body">
        	<div class="row">
        		<div class="col-md-12">
	        		{{ bootstrap_set_style('horizontal') }}
					{% for child in form.children %}
						{{ form_row(child) }}
					{% endfor %}
        		</div>
        	</div>
      	</div>
      	<div class="modal-footer">
      		<div class="form-actions">
      			<button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
      			<button type="submit" class="btn btn-primary submit-button" data-loading-text="Saving....">Save</button>
	    	</div>
	    </div>
{{ form_end(form) }}
