{% extends "CICoreBundle::layout.html.twig" %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Admin</li>
<li><a href="{{ path('user') }}">Users</a></li>
<li class="active"><a href="{{ path('user_show', { 'id' : user.id }) }}">View</a></li>
{% endblock %}

{% block fos_user_content %}
{% include "CICoreBundle:User:show_content.html.twig" %}
{% endblock fos_user_content %}