@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url('../fonts/noto-sans.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
	background-color: #EBEBEB;
	font-family: "Noto Sans" !important;
	margin: 0px;
	padding: 0px;
}

*:not(.form-control){
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

* {
	-webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  	opacity: 1 !important;
  	filter: alpha(opacity=100)!important;
}

#debuggerDiv {
	width:auto;
	height:auto;
	top:30px;
	left:0;
	background-color: #000;
	color:#fff;
	padding:5px;
	position: fixed;
	z-index: 999999999;
}

/*
.modal.fade .modal-dialog, .modal.in .modal-dialog .modal {
  -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  opacity: 1 !important;
}
*/
.form-control {
	height: 45px;
	font-size: 21px;
}
.modal-content{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.container {
	padding-left: 0;
	padding-right: 0;
	background-color: #ebebeb;
}

.btn {
	background-color: #008bd2;
	color: #fff;
	border-radius: 5;
}
.modal-btn {
	background-image: url("../images/grid-btn-bg.png");
	background-repeat: repeat-x;
	background-size: 100% 100%;
	height: 50px !important;
	width: 125px !important;
	margin-top: l;
	margin-right: 15px;
}

.dashboard-header {
	text-align: left !important;
	padding-top: 0px;
	padding-left: 15px;
	position: relative;
}
	.dashboard-header button {
		width: 100px;
	}
.header {
	background-image: url("../images/header-bg.png");
	background-repeat: repeat-x;
	height: 50px;
	color: #fff;
	font-size: 21px;
	padding-top: 9px;
	background-size: 100% 100%;

	border: none;
	background-color: #000;
	color: #fff;
	text-align: center;
}

.footer {
	background-image: url("../images/header-bg.png");
	background-repeat: repeat-x;
	height: 66px;
	color: #fff;
	font-size: 21px;
	padding-top: 18px;
}

/* modal */
.modal-container .modal-header {
	/*background: -webkit-linear-gradient(to bottom,#3A3D3F 45%,#2e3335 45%);
	background: -moz-linear-gradient(to bottom,#3A3D3F 45%,#2e3335 45%);
	background: -o-linear-gradient(to bottom,#3A3D3F 45%,#2e3335 45%);
	background: linear-gradient(to bottom,#3A3D3F 45%,#2e3335 45%);*/
	
}
	.modal-container .modal-title {
		font-size: 21px;
	}
.modal-container .modal-body .input-group-addon {
	padding-right: 26px;
	padding-left: 26px;
}
.modal-container .modal-header {
	border: none;
}
.modal-container .modal-footer {
	padding: 0px;
	border: none;
}
		.modal-container .modal-footer .checkbox {
			text-align: left;
			margin-left: 36px;
			float: left;
			vertical-align: middle;
		}
			.modal-body .new-report-input {
				font-size: 12px;
				padding: 12px 12px;
			}
			.modal-body input {
				font-size: 12px;
			}
			.modal-container .modal-footer .checkbox input {
				margin-top: 4px;
			}
			.checkbox {
				margin-top: 15px;
				font-size: 18px;
				font-weight: normal;
			}
	.modal-container .modal-footer .btn-primary {
		/*background: -webkit-linear-gradient(to bottom,#008bd2 45%,#0076b1 45%);
		background: -moz-linear-gradient(to bottom,#008bd2 45%,#0076b1 45%);
		background: -o-linear-gradient(to bottom,#008bd2 45%,#0076b1 45%);
		background: linear-gradient(to bottom,#008bd2 45%,#0076b1 45%);*/
		margin-right: 15px;
		margin-top: 15px;
		width: 165px;
		height: 85px;
		padding: 0px;
	}
	.modal-container .modal-footer .footer-tip {
		background-color: #000;
		height: 10px;
		margin-top: 20px;
	}



/* login */

.login-container {
	background-image: url("../images/login-bg.png");
	height: 960px;
	width: 100%;
	overflow: scroll;
	position: fixed;
	background-size:100% auto;
	background-repeat: no-repeat;
}
	.login-container .version-container {
		margin-left: 10px;
		margin-top: 5px;
		font-size: 10px;
	}
	.login-modal .glyphicon-remove {
	    position: absolute;
	    right: 12px;
	    top: 20px;
	    color: #A94442;
	    z-index: 100;
	}
	.redirect {
		width: 100% !important;
		text-align: center;
		margin-top: 200px;
	}

.first-name-focus {
	margin-top: 30px !important;
}
.last-name-focus {
	margin-top: 30px !important;
}
	
/* global */
.modal {
	margin-top: 220px;
	font-size: 15px;
	overflow: hidden;
}
.input-group-addon {
	background-color: #b3b3b3;
}

.page-header {
	background-image: url("../images/logo-top.png");
	background-repeat: no-repeat;
	height: 110px;
	background-size:100% auto;
	border: none;
	margin: 0;
    margin-bottom: 10px;
}

.popup-overlay {
	width:100%;
	height: 575px;
	background-image: url("../images/overlay.png");
	position:absolute;
	top: 0;
	z-index: 1051;
}

.option-btn-container {
	text-align: right;
}
	.option-btn {
		background-image: url("../images/option-btn-bg.png");
		height: 48px;
		width: 120px;
		background-repeat: repeat-x;
		border-radius: 2px;
		position: relative;
		padding-left: 44px;
		margin-bottom: 5px;
	}
	
		.option-side {
			background-image: url("../images/side-bg.png");
			background-repeat: repeat-x;
			background-size: 100% 102%;
			height: 47px;
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
			padding-top: 15px;
			width: 35px;
		}
		

/* dashboard */

.app-container {
	width: 90%;
	margin: 0 auto;
}
	.app-container .greeting {
		display: inline;
		float: left;
		margin: 0;
	}
	.greeting {
		font-size: 25px;
		margin-bottom: 5px;
	}
    
	.create-report-btn {
		clear: both;
	}
	.grid-btn {
		width: 100%;
		text-align: left;
		height: 66px;
		border-radius: 0;
		position: relative;
	}
		.report-view {
			/*background-image: url("../images/view-report-bg.png");
			background-repeat: no-repeat;
			background-position: right;
			background-size: 59px 67px;*/
		}

		.report-view:active {
			/*background-image: url("../images/view-report-icon.png");
			background-repeat: no-repeat;
			background-position: right;*/
		}
		.list-side {
			background-image: url("../images/side-bg.png");
			background-repeat: repeat-x;
			width: 59px;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			text-align: center;
			padding-top: 23px;
		}

		.report-details {
			float:left;
			padding-left: 4px;
			white-space: normal;
			width: 65%;
		}
		.sync-container {
			text-align: right;
			margin-right: 60px;
		}
			.sync-container img {
				border-radius: 16px;
				width: 28px;
				height: 28px;
			}
	.grid-list {
		padding: 0;
		margin: 0;
	}
		.grid-list li {
			padding: 0;
			margin: 2px 0px;
		}
			.grid-list button {
				background-image: url("../images/grid-btn-bg.png");
				background-repeat: repeat-x;
			}

	.list-reports {
		max-height: 220px;
		overflow: scroll;
	}
	.all-report-btn {
		font-size: 14px;
		text-align: center;
		padding-top: 4px;
		height: 50px;
		background-size: 100% 100%;
	}
	.upload-all-btn {
		position: absolute;
		right: 10px;
	}

.reportpicker-container {
	z-index: 1282;
	position: absolute;
	width: 100%;
	top: 110px;
}
	.reportpicker-container .list-reports {
		max-height: 400px !important;
	}
		.reportpicker-container .list-reports li {
			margin: 0 !important
		}
.datepicker-container {
 	z-index: 1052;
 	width: 300px;
 	margin: 200px auto;
 	height: 0px;
	overflow: hidden;
 }
 .datepicker-ready {
 	height: 250px !important;
 }

	.datepicker-container .btn {
	 	/*background-color: #fff;
	 	color: #000;*/
	}
	.datepicker-container .well {
	 	background-color: #fff;
	}
	.datepicker-container table {
	 	margin: 0 auto;
	}
	 	.btn-date {
	 		background-color: #fff;
	 		color: #444444;
	 		border-color: #fff;
	 		border-radius: 0px;
	 	}
	.datepicker-container .dropdown-menu {
	   left: auto !important;
	   right: 0px;
	 }
 .glyphicon {
 	color:#fff;
 }

/* pre report */

.pre-report-btn {
	position: absolute;
	right: 10px;
	top: 8px;
	z-index: 1000;	
	border: none;
	background-color: inherit !important;
}
		.pre-report-btn .glyphicon {
			color: #b3b3b3;
		}



/* store */

.scrollRef {
	width:100%;
	height:320px;
	float:left;
}

.search-container {
	color: #000;
	width: 100%;
}
	.search-container input {
		width: 85% !important;
		font-size: 15px;
		height: 34px;
		display: inline;
		width: 100%;
		float: none !important;
		border-radius: 0px !important;
	}
	.search-btn {
		position: absolute;
		right: 7%;
		z-index: 1000;
		border: medium none;
		background-color: inherit !important;
	}
			.search-btn .glyphicon {
				color: #b3b3b3;
			}
	.list-stores {
		position: relative;
		max-height: 320px;
		min-height: 150px;
		overflow: scroll;
	}
		.glyphicon-star {
			height: 100%;
			position: absolute;
			font-size: 25px;
			color: #CCC;
			z-index: 999;
			padding-top: 20px;
			padding-left: 14px;
		}
		.store-details {
			float:left;
			white-space: normal;
			width: 65%;
			margin-left: 32px;
		}

		.store-name {
			margin-top: 5px;
			/*margin-left: 32px;*/
		}
		.favorite {
			color: #FFFC12  !important;
		}

.store-pagination-container {
	width: 346px;
	margin: 0 auto;

}
	.store-pagination-container img {
		width: 38px;
		height: 38px;
		float: left;

	}
	.store-pagination-container button {
		

	}
	.store-pagination {
		padding: 0;
		height: 38px;
	}
		.store-pagination {
			float: left;
		}

			.store-pagination li {
				list-style: none;
				float: left;
				width: 30px;
				height: 38px;
				border: 1px solid #9e9e9e;
				text-align: center;
			}
				.store-pagination li button {
					padding-top: 7px;
					border: none;
					margin: 0px;
					padding: 0px;
					width: 100%;
					height: 100%;
				}


/* report */
.detail-container {
	text-align: right;
}
	.detail-container h1 {
		font-size: 20px;
		margin-top: 0px;
	}
.product-status{
	background-color: transparent;
	border: medium none;
	width: 82%;
	padding: 27px 62px 32px 8px;
	text-align: left;
	margin-left: 50px;
}
	.quantity-btn {
		position: absolute;
		left: 0px;
		top: 0px;
		font-size: 8px;
		width: 49px;
		height: 100%;
		padding: 0px;
	}
.report-container {
	clear: both;
}
.report-container .list-group li{
	padding: 0;
	height: 80px;
}
.list-products {
	max-height: 210px;
	min-height: 110px;
	overflow: scroll;
	margin-bottom: 10px !important;
}
.product-tabs {
	overflow: scroll;
	background-color: #EBEBEB;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 9999;
	width: 175px;
	height: 550px;
}
.product-category {
	margin-bottom: 5px;
	width: 100%;
	text-align: right;
}
	.show-category-container {
		text-align: left;
	}
		.show-category-btn {
			float: left;
			margin-bottom: 5px;
		}

	.product-tabs ul {
		
	}
		.product-tabs ul a {
			height: 55px;
		}
		.product-tabs li {
			display: block !important;
			float: none;
			height: 52px;
		}

	.product-quantity {
		position: absolute;
		top: 0px;
		margin-top: 122px;
		width: 240px;
		margin-left: -120px;
		font-size: 15px;
		height: 50px;
		z-index: 1073;
		left: 50%;
	}
		.product-quantity .form-control {
			width: 142px !important;
			display: inline;
			margin-right: 10px;
		}
		.product-quantity button {
			width: 88px;
			background-color: #008BD2;
			height: 45px;
			padding: 0px;
			margin-top: 0px;
			text-align: center;
		}
		.note-container {
			height: 120px;
			margin-top: 10px;
		}
			.note-container textarea {
				width: 100%;
				height: 100%;
				padding: 10px;
			}
	.check {
		background-image: url("../images/report-bg-check.png");
		padding-top: 28px;
		background-size: 100% 100%;
	}
	.uncheck {
		background-image: url("../images/report-bg-uncheck.png");
		padding-top: 28px;
		background-size: 100% 100%;
	}
	.product-not-selected {
		background-image: none;
		background-color: #999999;
		padding-top: 28px;
	}

	.finish {
		height: 48px;
		width: 120px;
		padding: 0px
	}


.report-modal {
	margin-top: 90px !important;
}
	.report-modal img {
		margin-top: 10px;
	}
.report-modal .modal-footer {
	text-align: center;
}
.report-modal .modal-btn {
	margin-right: 0px;
}

.note-container {
	text-align: center;
	width: 155px;
	float: left;
}
		.note-container textarea {
			width:  135px;
			height: 100px;
			font-size: 12px;

		}
.photo-btn {
	width: 110px !important;
	margin-top: 10px;
}
/* settings */

.app-settings {
	font-size: 20px;
	margin-top: 10px;
}
.device-id {
	word-wrap: break-word;
}
.btn-data {
	height: 38px;
	margin-top: 10px;
}
.input-data {
	width: 100px;
	display: inline;
	height: 38px !important;
	margin-right: 10px;
}