#p2_alert_bg {
	width:100%;
	height:100%;
	position:fixed;
	display:none;
	background-color: rgba(0,0,0,0.75);
	z-index: 9999999999999;
	color:#fff;
	font-size:18px;
	top:0px;
	left:0px;
	text-align: center;
}

#p2_alert_msg {
	width:100%;
	display: table-cell;
	vertical-align: middle;
	padding:0px 50px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.p2_window {
	width: 100%;
	background-color: #fff;
	padding:15px;
	display:inline-block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.p2_window select {
	width:100%;
	margin:5px 0px;
	float:left;
}


.p2_window input {
	width:100%;
	margin:5px 0px;
	color:#000;
	float:left;
}

.p2_btn {
	width:100%;
	margin:5px 0px;
	background-color: #ccc;
	padding:10px;
	color:#999;float:left;
}

.p2_label {
	width:100%;
	color:#000;
	padding:10px;
	font-size:16px;
	float:left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#p2_displayImei {
	width: 100%;
	margin:5px 0px;
	text-align: center;
	color:#000;
	float:left;
}

#p2_logs {
	width:100%;
	height:100%;
	background-color: #fff;
	display:none;
	color:#000;
	position: fixed;
	top:0px;
	left:0px;
	z-index: 999999999;
	overflow: scroll;
	border-top: 30px #008bd2 solid;
	padding-bottom:120px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.p2_logsDesc {
	width:100%;
	height:30px;
	overflow: hidden;
	display:none;
}

#p2_logsBtn {
	width:100%;
	height:80px;
	position:fixed;
	display: none;
	bottom:40px;
	left:0px;
	z-index: 999999999;
	text-align: center;
	font-size: 18px;
	background-color: #008bd2;
	color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#p2_logsPadding {
	width:100%;
	height:40px;
	position:fixed;
	display: none;
	bottom:0px;
	left:0px;
	z-index: 999999999;
	text-align: center;
	background-color: #999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#p2_logsTable {
	width:100%;
	font-size: 8px;
}
