<div class="login-container">

	<div class="version-container">
		<span>App version: {{ appVersion }}</span>
		<br>
		<span>Data version: {{ dataVersion}}</span>
	</div>
	<div class="redirect" ng-show="redirect">Please wait...</div>
</div>
