

<div class="page-header"></div>
<div class="app-container">
	<div class="back-btn-container">
		<button class="btn option-btn" ng-click="onBack()">
			<div class="option-side">
				<span class="glyphicon glyphicon-menu-left">
				</span>
			</div>
			Back
		</button>
	</div>
	<div class="header">
		<div class="search-container input-group">
			<input id="storeHiddenScroller" style="display:none" class="form-control" type="text" ng-model="indexString" value="0"/>
			<input id="storeSearchScroller" class="form-control" type="text" ng-model="searchString" placeholder="Search Stores" onchange="phase2.resetLimitResult()"/>
			<button type="button" class="btn btn-default search-btn"><i class="glyphicon glyphicon-search"></i></button>
		</div>
	</div>
	<ul id="store-div" class="list-group grid-list list-stores" onscroll="phase2.storeScroll(this)">
		<div id="store-scroller" style="width:1px; height:4800px"></div>

		<div  id="store-displayer" style="width:100%; height:320px; position:absolute; z-index:1; top:0px; left:0px">
			<li class="list-group-item" ng-repeat="store in stores | searchFor:searchString | orderBy:'name' | orderBy:'-favorite' | limitResult:indexString">
				<span ng-click="onFaveStore(store)" class="glyphicon glyphicon-star {{store.faveIcon ? 'favorite' : ''}}"></span>
				<button class="btn grid-btn report-view" ng-click="onSelectStore(store)">
					<span class="store-details">
						
						<span class="store-name">{{ store.name }}</span>
					</span>
					<div class="list-side">
						<span class="glyphicon glyphicon glyphicon-plus">
						</span>
					</div>
					
				</button>
			</li>
		</div>
		
	</ul>

	<div>Stores: {{sqLite.sqlCount}}</div>
	<!--
	<div style="text-align:center;">
		<div class="store-pagination-container">
			<img src="images/pagination-arrow-bg.png" ng-click="onPrevAlpha()" />
			<ol class="store-pagination" ng-click="onSelectAlpha($event)">
				<li><button>A</button></li>
				<li><button>B</button></li>
				<li><button>C</button></li>
				<li><button>D</button></li>
				<li><button>E</button></li>
				<li><button>F</button></li>
				<li><button>G</button></li>
				<li><button>H</button></li>
				<li><button>I</button></li>
			</ol>
			<img src="images/pagination-arrow-bg.png" ng-click="onNextAlpha()"/>
		</div>
	</div>
	-->
</div>